apiVersion: v1
kind: Secret
metadata:
  name: {{ include "openmrs-backend.fullname" . }}
  labels:
    {{- include "openmrs-backend.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if .Values.mariadb.enabled }}
  OMRS_DB_USERNAME: {{ .Values.mariadb.auth.username | quote }}
  OMRS_DB_PASSWORD: {{ .Values.mariadb.auth.password | quote }}
  {{- end }}
  {{- if .Values.galera.enabled }}
  OMRS_DB_USERNAME: {{ .Values.galera.db.user | quote }}
  OMRS_DB_PASSWORD: {{ .Values.galera.db.password | quote }}
  {{- end }}